@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.footer {
  margin-top: 150px;
}
.footerMain {
  background-image: url(/src/components/images/map-bg.png);
  width: 100%;
}
.footerTextPack {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerTextPackSubtitle {
  color: white;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 400;
}
.footerTextPackTitle {
  color: white;
  font-size: 26px;
  font-family: "Noto Serif";
  font-weight: 700;
  padding-top: 15px;
}
.footerEmail {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.footerEmailLeft {
  display: flex;
  flex-direction: column;
}
.footerEmailLeftLink {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 0;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
}
.footerEmailLeftLinkItemLink {
  margin-right: 10px;
}
.footerEmailRightBorder {
  border: 1px solid white;
  padding: 10px;
}
.footerEmailRightInput {
  padding: 20px 20px;
  border: 5px solid white;
  outline: 0;
  width: 300px;
  transition: border-color 0.15s ease-in-out;
}
.footerEmailRightInput::-moz-placeholder {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
}
.footerEmailRightInput:-ms-input-placeholder {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
}
.footerEmailRightInput::placeholder {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
}
.footerEmailRightInput:active {
  border: 5px solid #333333;
}
.footerEmailRightInput:hover {
  border: 5px solid #333333;
}
.footerEmailRightInput:focus-visible {
  border: 5px solid #333333;
}
.footerEmailRightButton {
  position: absolute;
  margin-left: -150px;
  color: white;
  background-color: #333333;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  padding: 24px 35px;
}
.footerBottom {
  margin-top: 50px;
}
.footerBottomCards {
  display: flex;
  justify-content: space-between;
}
.footerBottomCardsLine {
  border-bottom: #333333 solid 2px;
}
.footerBottomCardsItem {
  width: 20%;
}
.footerBottomTextPack {
  display: flex;
  flex-direction: column;
}
.footerBottomTextPackTitle {
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #333333;
}
.footerBottomTextPackLink {
  text-decoration: none;
  color: #333333;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  margin: 10px 0;
}
.footerBottomTextPackLink:first-child {
  margin-top: 20px;
}
.footerBottomTextPackLink:last-child {
  margin-bottom: 20px;
}
.footerBottomTextPackNumber {
  text-decoration: none;
  color: #333333;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  margin: 10px 0;
}
.footerBottomTextPackNumber:last-child {
  margin-left: 15px;
}
.footerBottomTextPackNumberPack {
  display: flex;
  align-items: center;
}
.footerBottomTextPackNumberPack:first-child {
  margin-top: 20px;
}
.footerBottomTextPackSocial {
  margin-top: 20px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
}
.footerBottomImagePack {
  margin-top: 20px;
  display: flex;
}
.footerBottomImagePackCard:first-child {
  margin-right: 20px;
}
.footerBottomImagePackSocial {
  margin-top: 20px;
}
.footerBottomImagePackSocial:nth-child(1) {
  margin: 0 20px 0 0;
}
.footerBottomImagePackSocial:nth-child(2) {
  margin: 0 20px 0 0;
}
.footerBottomImagePackSocial:nth-child(3) {
  margin: 0 20px 0 0;
}
.footerWarning {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.footerWarningTextPackLink {
  text-decoration: none;
  color: #333333;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
}/*# sourceMappingURL=footer.module.css.map */